*{
 box-sizing: border-box;
  margin: 0;
}
body {
 height: 100vh;
}
.carousel_img{
  height: 90vh;
  overflow: hidden;
  object-fit: cover;
}
h3, p{
  color:#ecede6;
  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;

}
